@media only screen (max-width: 768px){
.signIn-form{
  height:667px;
  width:375px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image:url('./background.png');
  background-repeat: no-repeat;
  background-size: cover;

}
.forma{
  padding-left:18%;
}
.subButton{
  border: grey;
  width: 76%;
  margin-top:20px;
}

input{

  width:75%;
  font-size:20px;
  background-color:none;
}

}
