
.dashboard-container{
  width: 375px;
  height: 1388px;
  padding-left: 13px;
  padding-right: 13px;
}
.article-container{
  width: 349px;
  // height: 1246px;
  border-radius: 8px;
  box-shadow: 0 2px 20px 0 rgba(123, 123, 123, 0.5);
  background-color: #f9f9f9;
  padding-left: 10px;
  padding-right: 10px;
  
  

  h3{
    width: 90px;
    height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #313e50;
    

  }
  .article-info{
    margin-left: 6px;
    margin-right: 6px;
    width: 317px;
    padding-bottom: 7px;
    
  }
  img{
    width: 317px;
    height: 213px;
    border-radius: 17px;
    background-color: #d8d8d8;
  }
  h2{
    width: 104px;
    height: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #313e50;
  }
  h1{
    width: 317px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #313e50;
  }
  h4{
    height: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #313e50;

  }
  p{
    width: 317px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #313e50;
  }
}